<div class="md:fixed md:inset-y-0 md:flex md:w-64 md:flex-col p-6 z-50 top-3 left-3 ">
    <ul class="space-y-1 cursor-pointer bg-gray-800 rounded-md">
        <li *ngFor="let item of menuItem" [routerLink]="[item.ruta]" routerLinkActive="bg-gray-900 text-gray-900"
            class="text-gray-100 hover:bg-gray-50 hover:text-gray-800 flex items-center px-3 py-2 text-sm font-medium">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="text-gray-400 flex-shrink-0 -ml-1 mr-3 h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>


            {{item.nombre}}
        </li>
    </ul>
</div>