<div #mapa class="mapa-container"></div>



<div class="bg-white rounded p-2 fixed bottom-8 left-5 z-50">

    <p>Zoom: <span class="font-bold">18</span> -Lng, Lat: <span class="font-bold">[123, 456]</span></p>

    <label for="default-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Default
        range</label>
    <input id="default-range" type="range" value="50"
        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">


    <span class="isolate inline-flex rounded-md shadow-sm">
        <button type="button" (click)="zoomOut()"
            class="relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>

        </button>
        <button type="button" (click)="zoomIn()"
            class="relative -ml-px inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>

        </button>
    </span>

</div>